.about__wrapper {
  margin: 0 auto;
  padding: 18px $mobile-padding 0;
  min-width: $mobile-width;
}

.about__list {
  @include list-reducer;

  padding: 30px 0 22px;
}

.about__item {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-image: url("../img/sprite-png-1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/sprite-png-2x.png");
      background-size: 260px 50px;
    }
  }

  &:first-of-type::before {
    background-position: -132px 5px;
  }

  &:nth-of-type(2)::before {
    background-position: -204px 5px;
  }

  &:nth-of-type(3)::before {
    background-position: -67px 5px;
  }

  &:nth-of-type(4)::before {
    background-position: 5px 5px;
  }
}

.about__text {
  margin: 0 0 6px;

  font-family: "Arial", sans-serif;
  line-height: 1.29;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    padding: 0 $tablet-padding;

    border-bottom: 1px solid $border-color;
  }

  .about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 0;
    margin-top: 25px;

    counter-reset: section;
  }

  .about__item {
    margin: 25px 80px 70px 0;
    padding: 100px 0 40px;
    width: 245px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &:first-of-type::before {
      background-position: -123px 12px;
    }

    &:first-of-type::after {
      right: 15px;
    }

    &:nth-of-type(2)::before {
      background-position: -194px 12px;
    }

    &:nth-of-type(3)::before {
      background-position: -57px 12px;
    }

    &:nth-of-type(4)::before {
      background-position: 15px 15px;
    }

    &::after {
      counter-increment: section;
      content: counter(section);

      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;

      font-size: 281px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.74;
      color: #f2f2f2;
    }
  }

  .about__text {
    margin: 10px 0 0;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    @include desktop-wrapper;

    border: none;
  }

  .about__text {
    margin-top: 14px;
    padding: 0;
  }

  .about__list {
    margin-top: 30px;
  }

  .about__item {
    margin: 20px 0 60px 0;
    padding: 100px 0 45px 0;
  }
}
