.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 $mobile-padding;
  border-top: 1px solid  $gray;

  &--more {
    flex-direction: column;
    padding-bottom: 2px;

    border-bottom: 1px solid  $gray;
  }

  &--extra {
    padding: 0;
  }

  &--extra:last-of-type {
    border-bottom: 1px solid  $border-color;
  }
}

.card--extra .card__text {
  font-size: 14px;
  line-height: 1;
}

.card__title {
  @include title-small(16px, 1.25, $darkest);
  padding: 3px 40% 0 0;

  &--more {
    padding: 0;
  }

  &--extra {
    margin-top: 7px;
  }
}

.card__info {
  width: 50%;
}

.card .button {
  width: 100%;
  margin: 0 0 20px;

  font-size: 16px;
  line-height: 1.25;
}

.card--more .button {
  margin-top: 23px;
}

.card--extra .button {
  margin: 12px 0 18px;
}


.card__table {
  margin-top: 6px;
  width: 100%;
}

.card__table th {
  text-align: left;
}

.card__table--extra th {
  padding-top: 4px;
}

.card__table--extra td {
  padding-top: 4px;
}

.card__table td {
  text-align: right;
}

.card__text {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: $brown;

  &--more {
    margin-top: 7px;
  }
}

.card__text th {
  font-weight: normal;
}

.card__plus-button {
  position: relative;

  margin: 25px auto;
  width: 31px;
  height: 31px;

  border: none;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  background-size: 31px 31px;

  opacity: 0.2;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .card {
    margin-top: 135px;
    padding: 0 0 43px;
    width: 324px;

    background-color: $gray;

    &--more {
      background: none;
      border: 1px solid $border-color;
    }

    &--extra {
      align-items: baseline;
      margin: 0;
      padding: 23px 36px 29px;
      width: 100%;

      background-color: transparent;
      border: 1px solid $border-color;
      border-top: none;
    }

    &--extra:first-of-type {
      margin-top: 80px;

      border-top: 1px solid $border-color;
    }
  }

  .card__info {
    margin: 0 auto;
    padding: 0 33px;
    width: 100%;
  }

  .card__table {
    margin-top: 18px;

    &--extra {
      margin: 0;
      width: auto;
    }

    &--extra .card__text {
      padding: 0;

      font-size: 16px;
      line-height: 1.25;

      border: none;
    }

    &--extra th {
      margin-right: 52px;
      padding-top: 14px 0 0 0;
    }
  }

  .card .button {
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
    height: 40px;

    font-size: 16px;
    line-height: 1.25;
  }

  .card--extra .button {
    margin-top: 18px;
    width: 100%;
  }

  .card__image {
    width: 324px;
    height: 172px;
    margin-top: -47px;

    background-color: transparent;
  }

  .card:nth-child(even) .card__image {
    height: 208px;
    margin-top: -81px;
  }

  .card__title {
    margin-top: 31px;
    padding: 0 20%;
    text-align: center;

    font-size: 20px;
    line-height: 1;

    &--extra {
      padding: 0;
      margin: 0;
    }

    &--more {
      margin-top: 20px;
      padding: 0;
      width: 135px;
    }
  }

  .card__text {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;

    font-size: 16px;
    line-height: 1;

    border-bottom: 1px solid $border-color;

    &--more {
      margin: 0;
      margin: 0 0 29px;
      padding: 0;
      width: 170px;

      text-align: center;
      border: none;
    }
  }

  .card__plus-button {
    margin: 55px auto 0;
    width: 61px;
    height: 61px;

    background: url("../img/icon-plus.svg") no-repeat;
    background-size: 61px 61px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 245px;
    padding: 0px 0 39px;

    &:not(.card--extra) {
      margin-top: 138px;
      margin-bottom: 4px;
    }

    &--extra {
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      width: 100%;

      border-left: none;
      border-right: none;
    }

    &--extra:first-of-type {
      margin-top: 77px;
    }
  }

  .card__image {
    width: 245px;
  }

  .card__info {
    padding: 0px 35px;
  }

  .card__title {
    padding: 0 10%;

    &--more {
      padding: 0;
    }

    &--extra {
      padding: 0;
      width: 285px;

      text-align: left;
    }
  }

  .card__table {
    &--extra {
      width: 294px;
    }
  }

  .card .button {
    width: 169px;
  }

  .card--extra .button {
    width: 245px;
    margin: 0;
  }
}
