.example{
  background-color: $gray;
}

.example__data {
  margin: 0 auto;
  min-width: $mobile-width;
  padding: 0 $mobile-padding 33px;
}

.example__text {
  margin: 0;
  padding-right: 10px;

  line-height: 1.29;
}

.example__table{
 margin: 0 auto;
 margin-top: 25px;
}

.example__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.example__result {
  @include title (24px, 1);

  padding: 17px 0;
  width: 125px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid $border-color;
  border-radius: 3px;
}

.example__description {
  margin: -10px 18px 0;
  width: 90px;

  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $brown;

  background-color: $gray;

  &:first-of-type{
    margin-right: 30px;
  }
}

.example__info{
  @include title-small(14px, 1.43, $darkest);

  margin: 0 auto;
  margin-top: 18px;

  text-align: center;
}

.example__panel {
  text-align: center;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    margin: 0 auto;
  }

  .example__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 $tablet-padding;
  }

  .example__text {
    margin-top: 60px;

    font-size: 16px;
    line-height: 1.5;
  }

  .example__table {
    margin: 50px 0;
  }

  .example__info {
    margin: 0;
    width: 180px;

    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  .example__result {
    width: 162px;

    font-size: 30px;
    line-height: 1.23;

    &:not(:first-of-type){
      margin-left: 40px;
    }
  }

  .example__description {
    margin: -10px 10px 0;
    width: 142px;

    font-size: 14px;
    line-height: 1;
    color: $brown;

    background-color: #ffffff;
  }

  .example__panel {
    margin: 0 auto;
    margin-top: -180px;

    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;

    background-color: $gray;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;
      width: 50%;
      background-color: #eaeaea;
    }
  }

  .example__wrapper {
    @include desktop-wrapper;

    position: relative;

    margin-top: 200px;
  }

  .example__data {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    width: 50%;
  }

  .example__data .title {
    margin-top: -200px;
    padding: 0;
  }

  .example__description {
    background-color: $gray;
  }

  .example__text {
    margin-top: 200px;
    width: 430px;
  }

  .example__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 325px;
  }
}
