.footer {
  background-color: $gray;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: $mobile-width;
  padding: 0 $mobile-padding;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 39px 0 40px;
}

.footer__developer {
  padding: 20px 0;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $brown;

  &:active {
    opacity: 0.3;
  }
}

.footer__link:hover svg,
.footer__link:active svg {
  fill: $green;
}

.footer__icon {
  fill: $brownish-gray;

  &--academy {
    margin-left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $tablet-padding;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include desktop-wrapper;
  }
}
