.form__wrapper {
  margin: 20px auto 0;
  min-width: $mobile-width;
}

.form__container {
  position: relative;

  &::before {
    @include green-border;
    width: 90%;
  }
}

.form__text {
  @include title-small(14px, 1.29, $darkest);
  margin: 24px 0 30px;
  padding: 0 $mobile-padding;

  text-align: left;
}

.form__item {
  padding: 0 $mobile-padding;

  border: none;

  &--data {
    padding: 0 17px 23px;
  }

  &--owner {
    padding: 0 15px;
  }

  &--type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 30px;

    border-top: 1px solid rgba($color: $border-color, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: $border-color, $alpha: 0.5);
  }
}

.form__label {
  @include title-small (16px, 1.13);

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 15px;

  &--mail {
    margin-top: -7px;
  }

  &--phone {
    margin-top: -10px;
  }
}

.form__field:active + .form__icon,
.form__field:focus + .form__icon {
  fill: $green;
}

.form__field {
  flex-grow: 2;
  margin-left: 15px;
  padding: 14px;

  text-transform: uppercase;

  border: 1px solid rgba($color: $border-color, $alpha: 0.5);

  &::placeholder {
    @include title-small (16px, 1.13, $brown);
  }

  &:hover {
    border-color: rgba($color: $border-color, $alpha: 1);
  }

  &:hover + .form__icon {
    fill: $green;
  }

  &:active,
  &:focus {
    padding: 13px;
    border: 2px solid $brown;
    outline: none;
  }

  &:invalid {
    padding: 13px;
    border: 2px solid #ff8282;
  }

  &:invalid + .form__icon {
    fill: #ff8282;
  }

  &--message {
    margin-left: 0;
    padding: 12px 11px 15px;
    width: 100%;
    min-height: 150px;
  }

  &--message:active,
  &--message:focus {
    padding: 11px 10px 14px;
  }
}

.form .button {
  width: 280px;
  margin: 32px auto 0;

  font-size: 16px;
  line-height: 1.25px;

  border: none;
}

.form__warning {
  margin: 20px 0 30px;
  padding: 0 $mobile-padding;

  font-family: "Arial", sans-serif;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__container {
    &::before {
      width: 100%;
    }
  }

  .form__text {
    margin: 55px 0 0;
    padding: 0 70px;
    width: 470px;

    font-size: 20px;
    line-height: 1.5;
  }

  .form__item {
    margin-top: 55px;
    padding: 0px 23px 0 27px;

    &--data {
      margin-top: 50px;
      padding: 0 67px 0 70px;
    }

    &--type {
      margin: 75px 70px 0;
      padding: 0px 28px 34px;

      border: 1px solid rgba($color: $border-color, $alpha: 0.5);
    }

    &--comment {
      margin-top: 45px;
    }

    &--add {
      padding: 0 10px 0 27px;
    }
  }

  .form__profile {
    &--owner {
      padding: 0 40px;
    }
  }

  .form__label {
    margin-top: 18px;

    font-size: 20px;
    line-height: 1;

    &--message {
      padding: 0 40px;
    }
  }

  .form__icon {
    right: 20px;
  }

  .form__field {
    padding-left: 17px;

    &--mail {
      padding-left: 25px;
    }

    &:active,
    &:focus {
      padding-left: 16px;
    }

    &:invalid {
      padding-left: 17px;
    }

    &--mail:invalid,
    &--mail:active,
    &--mail:focus  {
      padding-left: 24px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 1;
    }
  }

  .form__submition {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: 13px 30px 72px 30px;
  }

  .form .button {
    margin: 0px 32px 0 41px;
    width: 50%;

    font-size: 20px;
    line-height: 1;
  }

  .form__warning {
    margin: 0 40px;
    padding: 0;
    width: 50%;

    text-align: left;
    font-size: 16px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    @include desktop-wrapper;
    margin-top: 55px;
  }

  .form__profile {
    @include desktop-wrapper;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &--owner {
      padding: 0;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  .form__item {
    max-width: 1300px;
    margin: 0 auto;

    &--data {
      flex-grow: 1;
      padding: 0;
    }

    &--owner {
      margin-top: 47px;
      padding: 0;
    }

    &--comment {
      padding: 0;
    }

    &--type {
      flex-grow: 1;
      margin-left: 70px;
      margin-right: 0;
      padding: 0 25px;
    }
  }

  .form__label {
    &--phone,
    &--mail {
      width: 50%;
      padding: 0 40px;
      margin: 0;
    }

    &--message {
      @include desktop-wrapper;
      margin-bottom: 53px;
    }
  }

  .form__submition {
    margin: 0 auto;
    width: 1300px;
    padding: 15px 0 80px;
  }
}
