.navigation {
  min-width: $mobile-width;
  margin: 0 auto;

  &--closed .navigation__toggle {
    width: 25px;
    height: 19px;

    background: url("../img/icon-mobile-menu.svg") no-repeat;
    background-size: 25px 19px;
  }

  &--closed .navigation__list {
    display: none;
  }

  &--opened .navigation__toggle {
    width: 19px;
    height: 19px;

    background: url("../img/icon-close.svg") no-repeat;
    background-size: 19px 19px;
  }

  &--opened .navigation__list {
    display: block;
  }
}

.navigation__logo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 11px $mobile-padding;

  border-bottom: 1px solid $border-color;
}

.navigation__toggle {
  border: none;
  background: none;
}

.navigation__list{
  @include list-reducer;
}

.navigation__item{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-color;
  padding: 11px 0;
}

.navigation__link{
  padding: 9px 0;

  font-family: "Oswald-Medium", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $darkest;

  &:not(.navigation__link--active):hover {
    opacity: 0.6;
  }

  &--active {
    padding-bottom: 7px;

    border-bottom: 2px solid $green;
  }

  &:not(.navigation__link--active):active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;

    padding: 0 $tablet-padding;
  }

  .navigation__logo {
    padding: 0;
    border: none;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: 50px;
  }

  .navigation__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 10px;

    text-align: center;
    border: none;

    &:first-of-type {
      margin-left: 27px;
    }
  }

  .navigation__link {
    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.39;
  }

  .navigation__toggle {
    display: none;
  }

}

@media (min-width: $desktop-width) {
  .navigation {
    @include desktop-wrapper;

    position: relative;

    justify-content: space-between;
   }

   .navigation__link {
     font-size: 20px;
     line-height: 1.25;

     &--white {
      color: #ffffff;
      border-color: #ffffff;
     }
   }
}
