.navigation {
  width: $mobile-width;
  margin: 0 auto;

  &--closed .navigation__toggle {
    width: 25px;
    height: 19px;

    background: url("../img/icon-mobile-menu.svg") no-repeat;
    background-size: 25px 19px;
  }

  &--closed .navigation__list {
    display: none;
  }

  &--opened .navigation__toggle {
    width: 19px;
    height: 19px;

    background: url("../img/icon-close.svg") no-repeat;
    background-size: 19px 19px;
  }

  &--opened .navigation__list {
    display: block;
  }
}

.navigation__logo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $mobile-padding;

  border-bottom: 1px solid $border-color;
}

.navigation__toggle {
  border: none;
  background: none;
}

.navigation__list{
  @include list-reducer;

}

.navigation__item{
  border-bottom: 1px solid $border-color;
}

.navigation__link{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $mobile-padding;

  font-family: "Oswald-Medium", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: $darkest;
}
