.radiobutton {
  @include title-small(16px, 1.13);
  position: relative;

  margin-top: 24px;
  padding-left: calc(16px + 30px);

  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

.radiobutton:hover .radiobutton__icon {
    border-color: rgba($color: $border-color, $alpha: 1);
}

.radiobutton:active .radiobutton__icon {
    opacity: 0.3;
  }

.radiobutton__icon {
  position: absolute;
  top: 50%;
  left: 0;

  display: inline-block;
  margin-top: -15px;
  width: 30px;
  height: 30px;

  border: solid 1px rgba($color: $border-color, $alpha: 0.3);
  border-radius: 50%;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    margin-top: -6px;
    margin-left: -6px;
    width: 12px;
    height: 12px;

    background-color: $green;
    border-radius: 50%;
  }
}

.radiobutton__input {
  &:checked + .radiobutton__icon::before {
    display: block;
  }

  &:focus + .radiobutton__icon {
    border-color: rgba($color: $brown, $alpha: 0.3);
  }
}

@media (min-width: $tablet-width) {
  .radiobutton {
    margin-top: 30px;
    padding-left: 60px;

    font-size: 20px;
    line-height: 1;

    &:last-of-type {
      padding-bottom: 10px;
    }
  }

  .radiobutton__icon {
    width: 40px;
    height: 40px;

    &::before {
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .radiobutton {
    margin-top: 30px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}
