.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding-bottom: 33px;
}

.slider__slide {
  margin: 38px auto 25px;

  &--after {
    display: none;
  }
}

.slider__radio {
  @include title-small(16px, 1.25, $darkest);

  margin: 0 9px 0 15px;

  cursor: pointer;
}

.slider__switcher {
  &--before:checked ~ .slider__slide--before {
    display: block;
  }

  &--before:checked ~ .slider__slide--after {
    display: none;
  }

  &--before:checked ~ .switcher .switcher__scale {
    left: 6px;
  }

  &--after:checked ~ .slider__slide--after {
    display: block;
  }

  &--after:checked ~ .slider__slide--before {
    display: none;
  }

  &--after:checked ~ .switcher .switcher__scale {
    right: 6px;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    width: 100%;
    padding: 0;
  }

  .slider__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 155px;
    padding-top: 460px;
    width: 100%;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 50%;
      background-color: $gray;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;
      width: 50%;
      background-color: #eaeaea;
    }
  }

  .slider__slide {
    position: absolute;
    bottom: 84px;
    left: 51%;
    margin-left: -345px;
    z-index: 1;

    &--before {
      clip: rect(auto, 338px, auto, 0);
    }

    &--after {
      display: block;
      clip: rect(auto, auto, auto, 338px);
    }
  }

  .slider__radio {
    margin: 0 20px;
    padding-bottom: 2px;
    border-bottom: 1px dotted $border-color;
    z-index: 5;

    font-size: 20px;
    line-height: 1;

    &:hover {
      border-bottom: 1px solid $border-color;
    }

    &:active {
      border: none;
    }
  }

  .slider__switcher {
    &--before:checked ~ .slider__wrapper .slider__slide--before {
      clip: rect(auto auto auto auto);
    }

    &--before:checked ~ .slider__wrapper::before {
      width: 100%;
      z-index: 1;
    }

    &--before:checked ~ .slider__wrapper .slider__slide--after {
      display: none;
    }

    &--after:checked ~ .slider__wrapper .slider__slide--after {
      clip: rect(auto auto auto auto);
    }

    &--after:checked ~ .slider__wrapper::after {
      width: 100%;
    }

    &--after:checked ~ .slider__wrapper .slider__slide--before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    position: absolute;
    top: 0;
    right: -60px;

    margin-top: -160px;
    width: 60%;
  }

  .slider__slide {
    bottom: 100px;
    left: 30px;
    margin-left: 0;

    &--before {
      clip: rect(auto, 365px, auto, 0);
    }

    &--after {
      clip: rect(auto, auto, auto, 365px);
    }
  }

  .slider__radio {
    margin: 0 20px 0 17px;
  }

  .slider__photo {
    width: 690px;
    height: 517px;
  }

  .slider__wrapper {
    margin-top: 160px;
    padding-top: 450px;

    &::before {
      width: 395px;
      height: 700px;
    }

    &::after {
      width: 285px;
      height: 700px;
    }
  }
}
