.social {
  @include list-reducer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 0;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.social__item {
  margin: 0 20px;
}

.social__link svg {
  fill: $brownish-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__item {
    margin-right: 15px;
  }

  .social__icon {
    &--fb {
      width: 14px;
      height: 40px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--vk {
      width: 30px;
      height: 16px;
    }
  }
}
