.social {
  @include list-reducer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 0;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.social__item {
  margin: 0 20px;
}

.social__link svg {
  fill: $brownish-gray;
}
