$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;
$mobile-padding: 20px;
$tablet-padding: 30px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$green: #68b738;
$deep-green: #5eaa2f;
$brown: #444444;
$brownish-gray: #666666;
$gray: #f2f2f2;
$deep-gray: #bababa;
$dark: #222222;
$darkest: #111111;
$border-color: #cdcdcd;
$invalid: #ff8282;
